@import "icon.styl"
@import "~colors.css/src/_variables.css"
@import "~animate.css/source/_vars.css"
@import "~animate.css/source/_base.css"
@import "~animate.css/source/sliding_entrances/slideInDown.css"
@import "~animate.css/source/sliding_exits/slideOutUp.css"

.line-through
  text-decoration-color red

.subtitle-input
  min-width 1.5em
